@import "../vars";
@import "../templates";

@include header-style;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .main {
    flex-grow: 1;
    &__title {
      margin: 100px 10%;
      @include title;
      @media (max-width: $tablet) {
        margin: 50px 5%;
      }
    }
  }
}

.carousel {
  .carousel-item {
    .img {
      object-fit: contain;
      height: 70vh;
      @media (max-width: $mobile) {
        height: 525px;
      }
    }
  }
  .carousel-controls {
    @media (max-width: $tablet) {
      display: none;
    }
    .carousel-control-prev {
      @media (max-width: $desktop-xl) {
        left: 50px;
      }
      @media (max-width: $desktop-lg) {
        left: 40px;
      }
    }
    .carousel-control-prev-icon {
      @media (max-width: $desktop-xl) {
        background-size: 70px;
      }
      @media (max-width: $desktop-lg) {
        background-size: 50px;
      }
    }
    .carousel-control-next {
      @media (max-width: $desktop-xl) {
        right: 50px;
      }
      @media (max-width: $desktop-lg) {
        right: 40px;
      }
    }
    .carousel-control-next-icon {
      @media (max-width: $desktop-xl) {
        background-size: 70px;
      }
      @media (max-width: $desktop-lg) {
        background-size: 50px;
      }
    }
  }
  .carousel-indicators {
    position: static;
    margin: 40px 0 100px;
    column-gap: 20px;
    @media (max-width: $mobile) {
      margin: 30px 0 50px;
    }
    button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $text-dark;
      background-color: transparent;
      @media (max-width: $tablet) {
        width: 7px;
        height: 7px;
      }
    }
    button.active {
      background-color: $text-dark;
      border: transparent;
    }
  }
}

.footer {
  @include footer-container;
  @media (max-width: $mobile) {
    padding-top: 25px;
  }
}
