@import "../vars";
@import "../templates";

.header {
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin-bottom: 50px;
    box-shadow: $header-shadow;
    font-family: $font-family;
    @media (max-width: $tablet) {
        display: grid;
        margin-bottom: 25px;
    }
    &__nav {
        width: 95%;
        margin: auto;
        display: flex;
		align-items: center;
        @media (max-width: $tablet) {
            width: 80%;
            height: auto;
            margin-bottom: 10px;
        }
    }
}

.logo-container {
    display: none;
    @media (max-width: $tablet) {
        margin-right: 10%;
        width: 65%;
        display: flex;
        flex-grow: 1;
        text-align: left;
    }
    &__name {
        @include title;
       //font-size: 40px;
        line-height: 120%;
        @media (max-width: $tablet) {
            font-size:28px;
            line-height: 36px;
        }
    }
}

.menu-container {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $font-family;
    color: $text-dark;
    font-size:20px;
    line-height: 24px;
    font-weight: 400;
    @media (max-width:$tablet){
        display: none;
    }
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (max-width:$mobile){
        display: block;
        }
    &__item{
        flex-shrink: 1;
        position: relative;
        list-style: none;
    }
    &__link{
        display: block;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: $text-dark;
        transition: all 0.3s ease;
        @media (max-width: $tablet){
            padding: 10px;
        }
    }
    &__link:hover{
    background: $bg-color-light;
    box-shadow: $header-shadow;
    transition: all 0.3s ease;
    }
    &__link:hover ~ .menu-directions{
        display: block;
    }
    &__button{
        display: flex;
        justify-self: flex-end;
        @extend %button-text;
        background: $bg-color-dark;
        font-family: $font-family;
        color: $text-light;
        font-size: 24px;
        line-height: 83%;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 1.5rem;
        border-radius: 50px;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}

.menu-directions{
    position: absolute;
    width: 400px;
    display: none;
    background-color: $text-light;
    box-shadow: $header-shadow;
    &__item{
        position: relative;
        list-style: none;
    }
    &__link{
        padding: 10px;
        list-style: none;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: $text-dark;
        transition: all 0.3s ease;
    }
    &__link:hover{
        background: $bg-color-light;
        box-shadow: $header-shadow;
        transition: all 0.3s ease;
    }
}

.menu-directions:hover{
    display: block;
}

.dropdown-icon{
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    color: $bg-color-dark;
    font-size: 16px;  
    background-color: transparent;
    z-index: 2;
    font-style: normal;
}
.dropdown-icon::after {
    content: '\2228';
}

.dropdown:hover .dropdown-icon::after{
    content: '\2227';
}

.burger-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
        box-shadow: $header-shadow;
		&__burger-checkbox {
			opacity: 0;
		}
		&__burger-checkbox:checked ~ &__burger > span {
			width: 100%;
			transform: rotate(45deg);
		}
		&__burger-checkbox:checked ~ &__burger > span::before {
			top: 0;
			width: 100%;
			transform: rotate(0);
		}
		&__burger-checkbox:checked ~ &__burger > span::after {
			top: 0;
			width: 100%;
			transform: rotate(90deg);
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ .menu {
			visibility: visible;
			right: 0;
		}
		&__burger-checkbox:checked ~ &__burger {
			border: none;
		}
		&__burger {
			position: absolute;
			top: 10px;
			right: 5%;
			z-index: 1;
			display: flex;
			align-items: center;
			width: 48px;
			height: 48px;
			border: 1px solid $bg-color-dark;
			border-radius: 6px;
			@include hover-cursor;
			& > span,
			& > span::before,
			& > span::after {
				position: absolute;
				left: 16px;
				display: block;
				width: 16px;
				height: 2px;
				background-color: $bg-color-dark;
				border-radius: 1px;
				transition-duration: 0.25s;
			}
			& > span::before {
				content: "";
				left: 0;
				top: -8px;
			}
			& > span::after {
				content: "";
				left: 0;
				top: 8px;
			}
		}
		.menu {
			position: fixed;
			visibility: hidden;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			max-width: 400px;
            height: auto;
			margin: 0;
			padding: 60px 0 20px;
			background-color: $text-light;
			transition-duration: 0.25s;
            font-family: $font-family;
            color: $text-dark;
            font-size:20px;
            line-height: 24px;
            font-weight: 400;
            box-shadow: $header-shadow;
			&__item{
				display: block;
                text-align: end;
				padding-right: 24px;
				transition-duration: 0.25s;
			}
            &__link{
                text-decoration: none;
                font-family: $font-family;
                color: $text-dark;
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
            }
            &__link:hover{
                background: $bg-color-light;
                box-shadow: $header-shadow;
                transition: all 0.3s ease;
            }
		}
	}
}

.main {
    &__title {
        margin: 100px 10%;
        @include title;
        @media (max-width: $tablet) {
            margin: 50px 5%;
        }
    }
}

.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:stretch;
    column-gap: 100px;
    row-gap: 100px;
    width: 80%;
    margin: 0 10% 100px;
    @media (max-width: $tablet) {
        width: 90%;
        margin: 0 5% 50px;
    }

    &__review{
        display: flex;
        padding: 20px;
        border: 3px solid $bg-color-dark;
        border-radius: 3px;
        
    }
    &__paragrath{
        @include paragraph;
        font-size: 20px;
        font-family: IBM Plex Sans;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
    }
}

.footer {
    padding-top: 50px;
    @include footer-container;
    @media (max-width: $mobile) {
        padding-top: 25px;
    }
}