* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%img-style-fit {
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin title {
  font-size: 48px;
  line-height: 108%;
  font-weight: 500;
  font-family: $second-family;
  text-align: center;
  color: $text-dark;
  @media (max-width: $mobile) {
    font-size: 32px;
    line-height: 120%;
  }
}

@mixin paragraph {
  font-size: 24px;
  line-height: 133%;
  font-weight: 400;
  font-family: $font-family;
  color: $text-dark;
  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

%button-text {
  font-family: $font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 83%;
  text-transform: uppercase;
}

@mixin content-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 40px;
  @media (max-width: $tablet) {
    row-gap: 20px;
  }
}

@mixin content-photo {
  height: 790px;
  @extend %img-style-fit;
  .img {
    border-radius: 6px;
  }
  @media (max-width: $tablet) {
    height: 500px;
  }
  @media (max-width: $mobile) {
    width: 60%;
    height: 450px;
    margin: 0 auto;
  }
}

@mixin consultation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 80px;
  padding: 50px 10%;
  background-color: $bg-color-light;
  @media (max-width: $tablet) {
    row-gap: 40px;
    padding: 30px 5%;
  }

  &__title {
    @include title;
    font-size: 40px;
    line-height: 120%;
    @media (max-width: $mobile) {
      font-size: 28px;
      line-height: 120%;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    @media (max-width: $tablet) {
      column-gap: 40px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    width: 315px;
    height: 101px;
    @extend %button-text;
    text-decoration: none;
    color: $text-light;
    background-color: $bg-color-dark;
    border-radius: 50px;
    @media (max-width: $tablet) {
      column-gap: 20px;
      width: 260px;
      height: 80px;
      font-size: 20px;
    }
    @media (max-width: $mobile) {
      width: 200px;
      height: 60px;
      font-size: 18px;
    }
    &::before {
      content: "";
      width: 72px;
      height: 72px;    
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: $tablet) {
        width: 60px;
        height: 60px;
      }
      @media (max-width: $mobile) {
        width: 45px;
        height: 45px;
      }
    }
    &:first-of-type::before {
      background-image: url("../../images/telegram-icon.svg");
    }
    &:last-of-type::before {
      background-image: url("../../images/whatsapp-icon.svg");
    }
  }
}

@mixin footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 80px;
  padding: 50px 10%;
  background-color: $bg-color-dark;
  @media (max-width: $tablet) {
    row-gap: 40px;
    padding: 30px 5%;
  }

  &__title {
    @include title;
    font-size: 40px;
    line-height: 120%;
    color: $text-light;
    @media (max-width: $mobile) {
      font-size: 28px;
      line-height: 120%;
      white-space: pre;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    @media (max-width: $tablet) {
      column-gap: 80px;
    }
    @media (max-width: $mobile) {
      column-gap: 20px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    text-decoration: none;
    color: $text-light;
    @media (max-width: $mobile) {
      width: 50px;
      height: 50px;
    }
  }
  &__link-icon {
      width: 100%;
  }
}

@mixin hover-cursor {
	&:hover {
		cursor: pointer;
	}
}