@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$font-family: "IBM Plex Sans", sans-serif;
$second-family: "IBM Plex Serif", sans-serif;
$text-dark: #3d3f4e;
$text-light: #ffffff;
$bg-color-dark: #4d4f5e;
$bg-color-accent: #ded4cb;
$bg-color-light: rgba(222, 212, 203, 0.4);
$header-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
$border-color: #4d4f5e;

$tablet: 1024px;
$mobile: 767px;
