@import "../vars";
@import "../templates";

@include header-style;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .main {
    flex-grow: 1;
    width: 80%;
    margin: 100px auto;
    @media (max-width: $tablet) {
      margin: 50px auto 30px;
    }
    &__title {
      margin-bottom: 100px;
      @include title;
      @media (max-width: $tablet) {
        margin-bottom: 50px;
      }
    }
    &__content {
      @include paragraph;
      text-align: center;
    }
  }
}

.footer {
  @include footer-container;
  @media (max-width: $mobile) {
    padding-top: 25px;
  }
}
